.reviews {
  &__buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__scroll-buttons {
    display: flex;
    gap: 12px;
  }
  .content {
    padding: 80px 16px 0;
  }
  .button {
    padding: 8px 0;
    width: 132px;
    font-size: 16px;
    line-height: 20px;
    &_default {
      width: 200px;
    }
  }
  &__heading {
    display: flex;
    gap: 40px;
    align-items: baseline;
    font-family: 'Lora';
    margin-bottom: 16px;
  }
  &__count {
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #b1a9a0;
    margin: 0;
  }
  &__slider {
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 60px);
  }
  &__carousel {
    display: grid;
    position: relative;
    width: 100%;
    max-width: 1280px;
    grid-auto-flow: column;
    gap: 20px;
  }
  @media screen and (max-width: 1279px) {
    .content {
      padding: 56px 60px 0;
    }
  }
  @media screen and (max-width: 1023px) {
    .content {
      padding: 56px 40px 0;
    }
  }
  @media screen and (max-width: 767px) {
    .content {
      padding: 56px 16px 0;
    }
    .button_gray {
      flex-basis: 50%;
    }
    &__scroll-buttons {
      width: 100%;
      margin-bottom: 16px;
      justify-content: space-between;
    }
    .button_default {
      width: 100%;
    }
  }
}
