.review-popup {
  &__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__stars {
    display: flex;
    gap: 4px;
  }
  .button {
    width: 100%;
    padding: 16px 0;
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  .popup__container {
    max-width: 1062px;
    width: 100%;
    margin: 0 60px;
  }
  &__inputs {
    display: flex;
    gap: 21px;
    .popup-form__input {
      width: 50%;
    }
  }
  .popup-form__input {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  &__span {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  .icon-star_inactive,
  .icon-star_active {
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    .popup__container {
      margin: 0;
    }
    &__inputs {
      flex-direction: column;
      .popup-form__input {
        width: 100%;
      }
    }
  }
}
