.header {
    display: flex;
    width: 100%;

    &__content {
        display: flex;
        width: 1095px;
        margin: 0 auto;
        align-items: center;
        padding: 17px 16px 0;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__name {
        text-transform: uppercase;
        font-family: 'Lora', 'Courier New', Courier, monospace;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        color: #261600;
    }

    &__job {
        text-transform: uppercase;
        font-family: 'Lora', 'Courier New', Courier, monospace;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #261600;
    }

    &__nav {
        display: flex;
        gap: 60px;
        margin: 0 0 0 auto;
    }

    &__link {
        font-family: 'SourceSansPro','Courier New', Courier, monospace;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-decoration: none;
        color: #261600;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }
}