.service {

    &__card {
        display: flex;
        align-items: flex-start;
        gap: 48px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__list {
        list-style: '— ';
        padding: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__title {
        margin: 0;
    }
}

.legal-assist {
    margin: 0 auto;
    padding: 0 40px;
    
    &__content {
        max-width: 1280px;
        width: 100%;
        background: #F4F3F2;
        padding: 48px 108px 80px;
        margin: 0 auto;
    }

    &__service {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 40px 0 0;
    }
}