.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 17px 0 20px;
  position: sticky;
  background: white;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  &_hide {
    transform: translateY(-150px);
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    @media screen and (max-width: 1279px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 764px) {
      padding: 0 40px;
    }
    @media screen and (max-width: 374px) {
      padding: 0 16px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 24px;
    @media screen and (max-width: 764px) {
      gap: 8px;
    }
  }

  &__name {
    text-transform: uppercase;
    font-family: 'Lora', 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #261600;
    @media screen and (max-width: 764px) {
      font-size: 20px;
      line-height: 20px;
    }
    @media screen and (max-width: 390px) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__job {
    text-transform: uppercase;
    font-family: 'Lora', 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #261600;
    @media screen and (max-width: 764px) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__navs {
    display: flex;
    gap: 60px;
    padding: 16px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

  &__nav {
    display: flex;
    gap: 60px;
    margin: 0 0 0 auto;
    &-burger {
      position: absolute;
      top: 100%;
      z-index: 1;
      background: white;
      margin: 0 auto;
      width: 97%;
      border-bottom: 1px solid #b1a9a0;
    }
    &-link {
      font-family: 'SourceSansPro', 'Courier New', Courier, monospace;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      text-decoration: none;
      color: #261600;
      cursor: pointer;
    }
  }

  &__link {
    font-family: 'SourceSansPro', 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    color: #261600;
    cursor: pointer;
  }

  &__logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
    @media screen and (max-width: 764px) {
      width: 50px;
      height: 50px;
    }
    @media screen and (max-width: 390px) {
      width: 40px;
      height: 40px;
    }
  }

  &__burger {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    &__burger {
      display: block;
      margin: 0 0 0 auto;
    }
  }
}
