.blog {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 56px 16px 112px;
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 20px;
  }
}
